<div class="container text-light">

  <div class="row justify-content-center my-5">
    <div class="col-auto text-center">
      <h1 class="display-1">A n D</h1>
    </div>
  </div>

  <div class="row justify-content-center align-items-center g-4">

    <div class="col-md-5">
      <div class="card card-bg-purple-light rounded-0 card-border-dark">

        <div class="mb-2 mt-3 mx-3 bg-light">
          <div class="card-body text-center">
            <h2 class="card-title p-3 fw-normal text-start">
              Experience incredible adventures, create your own characters,
              and explore a new world!
              <br><br>[...]
            </h2>
          </div>
        </div>

        <%= link_to "Start an adventure", stories_path,
          class: "btn btn-secondary mx-3 mb-3 btn-lg fs-4 fw-normal mt-2" %>

      </div>
    </div>

    <div class="col-md-4 text-center">
      <%= image_tag "https://i.pinimg.com/736x/dd/33/8d/dd338dfb729e2a111a9e81f443226518.jpg",
        class: "img-fluid m-4" %>
    </div>

  </div>

</div>
