.bg-image {
  background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fi.pinimg.com%2F736x%2F59%2F7b%2F29%2F597b29c8fff122df214eaa41f07564d5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 73vh;
}
