.bg-image {
  background-image: url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
}
