.my-character-card {
  text-decoration: none;
  color: black;
  background: white;
  overflow: hidden;
  transition: 0.2s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.my-character-card > img {
  width: 100%;
  height: 240px;
  object-fit: fit;
}
