.character-story-avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.horizontal-character-story-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border: 3px solid $dark;
  width: 330px;
  gap: 16px;
  padding: 12px;
}

.horizontal-character-story-card-infos h2 {
  font-size: 1.4rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

.horizontal-character-story-card-infos p {
  font-size: 0.9rem;
  opacity: 0.7;
  margin: 0;
}
.btn-white{
  background-color: white;
  border: 2px solid $dark;
  text-align: start;
  color: $dark;
}
.txt-white{
  background-color: white;
  border: 2px solid $dark;
  padding: 1rem;
  text-align: start;
  color: $dark;
}
.btn-white:hover{
  background-color: $dark;
  border: 2px solid $dark;
  color: white;
}
.btn-white:active{
  border: 3px solid $secondary;
}
.border-box-story{
  border: 2px solid $dark;
  background-color: white;
  padding: 2rem;
  margin-left: 40px;
}
.btn-path{
  background-color: $dark;
  color: white;
  text-align: center;
}

.dialog-left {
  background: #f8f9fa;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}
.dialog-right {
  border-radius: 20px 0 20px 20px;
}
