.chat-line {
  width: 100%;
  p{
    font-size: 85%;
    margin: 0;
  }
}

.chat-bubble {
  display: inline-block;
  max-width: 90%;
  word-wrap: break-word;
}

.panel-top {
  height: 34vh;
  overflow-y: auto;
  padding: 8px;
}

.right-stack {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
